body{
	margin: 0;
	padding: 0;
	font-family:arial;
}
.navbar{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #d4d7de;
	width: 100%;
	height: 70px;
	z-index: 1;
}
.nav{
display: flex;
justify-content: right;
list-style-type: none;
margin-right: 15%;
}
.logo{
	flex: 1 1 auto;
	margin-left: 10%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 35px;
}
a{
	margin: 15px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover{
	color: #000;
}
.banner-area{
	position: relative;
	width:100%;
    height: 100vh;
    background-image: url(images/img1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
img{
    min-width: 100%;
    height:auto;
}
.about-area, .portforlio-area, .testimony-area, .contact-area{
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
flex-direction: row;
width: 100%;
height: 700px;
}
.text-part{
	width: 65%;
	height:80%;
}
.heading{
	font-size: 50px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.page-content{
	font-size: 24px;
	line-height: 50px;
}
.about-area, .testimony-area{
	background: #fefefe;
}
.portforlio-area, .contact-area{
	background: #262626;
	color: #fff;
}
html{
	scroll-behavior: smooth;
}
.box {
  display: flex;
  align-items:right;
  justify-content: center;
  width: 33%;
  height: 300px;
}
.banner ul.slides { background: rgba(0, 0, 0, 0.5); }
.banner ul.slides .list, .banner .overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-color: #464646;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.banner ul.slides .list .holder, .banner .overlay .holder {
  margin: 10% auto 0 auto;
  padding: 50px;
  width: 70%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: -1px -1px 0 #d4d4d4, 1px -1px 0 #d4d4d4, -1px 1px 0 #d4d4d4, 1px 1px 0 #d4d4d4, 2px 2px 2px #000000;
  -webkit-border-radius: 34px 20px 20px 20px;
  -moz-border-radius: 34px 20px 20px 20px;
  border-radius: 34px 20px 20px 20px;
  text-align: center;
}
.banner ul.slides .list h1, .banner .overlay h1 {
  margin: 0 auto;
  color: #000000;
  font-size: 80px;
  text-align: center;
  text-shadow: -1px -1px 0 #d4d4d4, 1px -1px 0 #d4d4d4, -1px 1px 0 #d4d4d4, 1px 1px 0 #d4d4d4, 2px 2px 2px #000000;
  cursor: default;
}
.banner ul.slides .list h2, .banner .overlay h2 {
  margin: 0 auto;
  color: #000000;
  font-size: 30px;
  text-align: center;
  text-shadow: -1px -1px 0 #d4d4d4, 1px -1px 0 #d4d4d4, -1px 1px 0 #d4d4d4, 1px 1px 0 #d4d4d4, 2px 2px 2px #000000;
  cursor: default;
}
.banner ul.controls {
  margin-left: -50px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.banner ul.controls .list {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background: #000000;
  float: left;
  cursor: pointer;
  box-shadow: -1px -1px 0 #d4d4d4, 1px -1px 0 #d4d4d4, -1px 1px 0 #d4d4d4, 1px 1px 0 #d4d4d4, 2px 2px 2px #000000;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.banner ul.controls li:hover, .banner ul.controls li.hover { background: #4D8CC4;
 }
.banner ul.controls li:last-child { margin-right: 0;
 }
.passion {
  font-size: 20px;
  vertical-align: middle;
}
